body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* #root {
  padding: 0;
}  */

#navbar {
  height: 4rem;
  width: 100%;
  text-align: center;
}

#links {
  height: 100%;
  margin-top: 20px;
}

#links a {
  padding: 0 30px;
  text-decoration: none;
  border-right: 2px solid rgb(27, 187, 187);
  color: rgb(27, 187, 187);
  font-weight: bold;
}

#links a:hover {
  color: rgb(21, 152, 152);
}

#links a:last-child {
  border-right: 0;
}
